.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.play{
  text-align: center;
  color: #c92f2f;
}

body {
  background-color: #3467b9;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #c92f2f;
  font-size: 7rem;
  color: #4ECCA3;
}

p {
  font-size: 40px;
  color:#f1ecec;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #cdd3de;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;

}
